<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lts.mapper.UserStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lts.domain.po.UserStatistics">
        <id column="user_id" property="userId" />
        <result column="following_count" property="followingCount" />
        <result column="followers_count" property="followersCount" />
        <result column="tweets_count" property="tweetsCount" />
    </resultMap>

</mapper>
